<div class="box" id="heading">
  <h1>{{ titulo }}</h1>
</div>

<div class="box">
  <!-- Property Binding entre Componentes.
  
  Imprimimos el contenido del componente app-persona en el componente principal, siendo app-persona el componente hijo, y app-root (este componente) componente el padre.

  Mediante la directiva ngFor, iniciamos un bucle de elementos contenidos en el array personas. Cada elemento lo vamos a reconocer como personaElemento y con cada bucle, vamos a introducir los elementos en los contenedores [persona] (de tipo Persona) y el contenedor [indice] (de tipo number), para que el componente hijo lo reciba con @Input.
  -->
  <app-persona
    *ngFor="let personaElemento of personas; let i = index"
    [persona]="personaElemento"
    [indice]="i"
  >
  </app-persona>
</div>
<div class="box">
  <app-formulario></app-formulario>
</div>
