<div class="container">
  <div class="col">
    <h3>{{ titulo }}</h3>
  </div>
  <hr />
  <!--   Imprimimos el contenido del componente app-formulario en el componente principal, siendo app-persona el componente hijo, y app-root (este componente) componente el padre.

  Mediante event binding vamos a monitorear el metodo personaCreada.emit(persona1).
  Cuando este metodo (personaCreada) se llama, recibimos el objeto de tipo event con el objeto (persona1 de tipo Persona) emitido en el componente hijo.

  En resumen, el objeto emitido con personaCreada, se usa como argumento del metodo personaAgregada y se ejecuta.
  -->
  <app-formulario (personaCreada)="personaAgregada($event)"></app-formulario>
  <hr />
  <!-- Property Binding entre Componentes.
  
  Imprimimos el contenido del componente app-persona en el componente principal, siendo app-persona el componente hijo, y app-root (este componente) componente el padre.

  Mediante la directiva ngFor, iniciamos un bucle de elementos contenidos en el array personas. Cada elemento lo vamos a reconocer como personaElemento y con cada bucle, vamos a introducir los elementos en los contenedores [persona] (de tipo Persona) y el contenedor [indice] (de tipo number), para que el componente hijo lo reciba con @Input.
  -->
  <app-persona
    *ngFor="let personaElemento of personas; let i = index"
    [persona]="personaElemento"
    [indice]="i"
  >
  </app-persona>
</div>
